In [1]:
# Import the necessary library
import pandas as pd

In [2]:
# Define the file path to your original CSV
csv_file_path = "Source_Data/energy-pop-exposure-nuclear-plants-locations_plants.csv"

In [3]:
# Load the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

In [4]:
# Display the first few rows to inspect the data (optional)
print("Initial Data:")
display(df.head())

Initial Data:

,FID,Region,Country,Plant,NumReactor,Latitude,Longitude,p90_1200,p00_1200,p10_1200,...,p10r_600,p90_300,p00_300,p10_300,p90u_300,p00u_300,p10u_300,p90r_300,p00r_300,p10r_300
0,0,Europe - Western,SWEDEN,AGESTA,1,59.206022,18.082872,187382000,188684000,188250000,...,8972550.0,5013240.0,5227700.0,5471110.0,3426880.0,3596030.0,3764920.0,1586350.0,1631670.0,1706190
1,1,Europe - Western,SPAIN,ALMARAZ,2,39.808100,-5.696940,136675000,147718000,163429000,...,19453700.0,17756500.0,18187800.0,20185200.0,10986000.0,11415400.0,12689800.0,6770480.0,6772380.0,7495340
2,2,America - Latin,BRAZIL,ANGRA,3,-23.007857,-44.458098,99195200,113894000,127898000,...,18605600.0,39546400.0,44701700.0,50210600.0,32788500.0,37064600.0,41648300.0,6757940.0,7637110.0,8562300
3,3,America - Northern,UNITED STATES OF AMERICA,ARKANSAS ONE,2,35.310320,-93.231289,117830000,132729000,146482000,...,9498240.0,5603180.0,6226360.0,6866840.0,3779400.0,4198920.0,4633770.0,1823770.0,2027450.0,2233070
4,4,Europe - Western,SPAIN,ASCO,2,41.200000,0.566670,271854000,287134000,308922000,...,17594700.0,14398500.0,15095600.0,16830700.0,11215400.0,11773600.0,13151300.0,3183180.0,3322050.0,3679470

In [5]:
# Filter the DataFrame to only keep rows where a column contains 'United States of America'
filtered_df = df[df['Country'] == 'UNITED STATES OF AMERICA']

In [6]:
# Display the filtered data (optional)
display(filtered_df.head())

,FID,Region,Country,Plant,NumReactor,Latitude,Longitude,p90_1200,p00_1200,p10_1200,...,p10r_600,p90_300,p00_300,p10_300,p90u_300,p00u_300,p10u_300,p90r_300,p00r_300,p10r_300
3,3,America - Northern,UNITED STATES OF AMERICA,ARKANSAS ONE,2,35.310320,-93.231289,117830000,132729000,146482000,...,9498240.0,5603180.0,6226360.0,6866840.0,3779400.0,4198920.0,4633770.0,1823770.0,2027450.0,2233070
9,9,America - Northern,UNITED STATES OF AMERICA,BEAVER VALLEY,2,40.621900,-80.433900,169815000,184040000,203113000,...,17662400.0,20035700.0,20656500.0,22782900.0,16166600.0,16717800.0,18444000.0,3869130.0,3938730.0,4338890
16,16,America - Northern,UNITED STATES OF AMERICA,BIG ROCK POINT,1,45.358889,-85.197222,157140000,167851000,185250000,...,7601050.0,4465530.0,4700450.0,5175490.0,3104160.0,3262970.0,3595160.0,1361370.0,1437490.0,1580330
21,21,America - Northern,UNITED STATES OF AMERICA,BONUS,1,18.366389,-67.268611,48677600,56999000,65235000,...,9985910.0,7205840.0,8025120.0,8852240.0,6098380.0,6759000.0,7396900.0,1107460.0,1266120.0,1455350
24,24,America - Northern,UNITED STATES OF AMERICA,BRAIDWOOD,2,41.243600,-88.228900,156651000,170891000,188557000,...,12430100.0,20784400.0,22610900.0,24967600.0,17889200.0,19608900.0,21660700.0,2895240.0,3002020.0,3306880

In [7]:
# Drop columns 8 through 61 (index-based)
df_dropped = filtered_df.drop(filtered_df.columns[7:62], axis=1)

In [8]:
# Display the updated DataFrame (optional)
print("Data after dropping columns 8 through 61:")
display(df_dropped.head())

Data after dropping columns 8 through 61:

,FID,Region,Country,Plant,NumReactor,Latitude,Longitude
3,3,America - Northern,UNITED STATES OF AMERICA,ARKANSAS ONE,2,35.310320,-93.231289
9,9,America - Northern,UNITED STATES OF AMERICA,BEAVER VALLEY,2,40.621900,-80.433900
16,16,America - Northern,UNITED STATES OF AMERICA,BIG ROCK POINT,1,45.358889,-85.197222
21,21,America - Northern,UNITED STATES OF AMERICA,BONUS,1,18.366389,-67.268611
24,24,America - Northern,UNITED STATES OF AMERICA,BRAIDWOOD,2,41.243600,-88.228900

In [9]:
# Save the filtered DataFrame to a new CSV file
cleaned_csv_path = "Source_Data/cleaned_nuclear_data.csv"  # Define the path and name of the new CSV
df_dropped.to_csv(cleaned_csv_path, index=False)

In [10]:
print(f"Filtered CSV has been saved as '{cleaned_csv_path}'.")

Filtered CSV has been saved as 'Source_Data/cleaned_nuclear_data.csv'.